/* color palette: 
    near black #0D0D0D | off-white #F2F2F2 | orange #EB5428 
    aqua #7ABFBF | opa-aqua rgba(122, 191, 191, 0.5)
*/

/* fonts: 
    'Bebas Neue', cursive;
    'Montserrat', sans-serif; 
*/

/* css TOC: 
    GLOBAL -- line 
    MAIN NAV -- line 
    MENU -- line
    DESCRIPTION -- line
    RECIPE -- line
    ASIDE -- line
    FOOTER -- line 
    CLASSES -- line 
    IDS -- line 
    MEDIA QUERIES -- line
*/

/* ---------- GLOBAL ---------- */
    html {
        background-color: rgba(122, 191, 191, 0.5);
    }

    body {
        background-color: #ffffff;
        width: 414px;
        margin: 0 auto;
        font-family: 'Montserrat', sans-serif;
    }

    h2, h3, h4, nav, footer {
        font-family: 'Bebas Neue', cursive;
    }

/* ---------- MAIN NAV + HEADER ---------- */
    h1 {
        visibility: hidden;
        height: 0;
        margin: 0;
        padding: 0;
    }

    nav img {
        width: 15%;
    }

/* ---------- MENU ---------- */
    #menu {

    }

/* ---------- DESCRIPTION ---------- */
    #description img {
        width: 100%;
    }

/* ---------- RECIPE ---------- */


/* ---------- ASIDE ---------- */


/* ---------- FOOTER ---------- */

    footer img {
        width: 40%;
    }

/* ---------- CLASSES ---------- */


/* ---------- IDS ---------- */


/* ---------- MEDIA QUERIES ---------- */
